.section-title1 {
  background-color: var(--primary);

  display: flex;
  justify-content: center;
  align-items: center;
}
.section-title1__title {
  margin: 96px;
}

.section-title2 {
  position: relative;
}
.section-title2__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-title2__title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 96px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--background-linear);
  box-shadow: var(--box-shadow);
}

.section-title3 {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.section-title3__image {
  width: 100%;
  height: calc(100% - 192px);
  object-fit: cover;
}
.section-title3__titles {
  margin: 16px 64px;
}

.section-title4 {
  padding: 128px 171px;
  background: var(--primary);

  display: flex;
  align-items: center;
}

.section-title5 {
  display: grid;
  grid-template-columns: 50% 50%;
}
.section-title5__titles {
  background: var(--primary);

  display: grid;
  grid-template-rows: 7fr 6fr;
  padding: 48px 64px;
}
.section-title5__content {
  background: var(--light-background);
  padding-bottom: 48px;
  padding-left: 100px;
  padding-right: 64px;

  display: flex;
  align-items: flex-end;
}

/* Modifiers */
.flex--bottom {
  display: flex;
  align-items: flex-end;
}
.flex--top {
  display: flex;
  align-items: flex-start;
}
