.slide {
  margin-left: auto;
  width: calc(100vw - 80px);
  height: 100vh;
  background-color: var(--primary);

  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.slide * {
  border: 1px solid red;
}

/* Modifiers */
.slide--align-bottom {
  align-self: end;
}

.slide--60_40 {
  background: linear-gradient(
    90deg,
    var(--primary) 60%,
    var(--light-background) 40%
  );
  grid-template-columns: 60% 40%;
}

.slide--container-center {
  padding: 96px 171px;
  align-items: center;
}

.slide--title-bottom {
  grid-template-rows: 1fr 192px;
  background-color: var(--light-background);
}

.slide--50_50 {
  grid-template-columns: repeat(2, 1fr);
}
.slide--50_50-dark_white {
  background: linear-gradient(
    90deg,
    var(--primary) 50%,
    var(--light-background) 50%
  );
}
/* END Modifiers */

/* Elements */
.slide__image-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: var(--filter);
}

.slide__container-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 96px;

  display: grid;
  align-items: center;

  background: var(--background-linear);
  box-shadow: var(--box-shadow);
}

.slide__titles-bottom {
  margin: 16px 64px;
}

.slide__titles-double {
  display: grid;
  grid-template-rows: 7fr 6fr;
  padding: 48px 64px;
}
.slide__titles-double-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;

  background: var(--background-linear);
  box-shadow: var(--box-shadow);
}

.slide__text-bottom {
  margin-bottom: 48px;
  margin-left: 100px;
  margin-right: 64px;
  align-self: end;
}
