.title {
  font-family: var(--font);
  font-weight: var(--weight-bold);
  font-style: normal;
  font-size: 168px;
  line-height: 144px;
  text-transform: lowercase;
  letter-spacing: -0.5px;

  color: var(--text-on-dark);
  word-wrap: break-word;
}
.title--100 {
  width: 100%;
}

.subtitle {
  font-family: var(--font);
  font-weight: var(--weight-small);
  font-style: normal;
  font-size: 96px;
  line-height: 96px;
  text-transform: lowercase;
  letter-spacing: -0.5px;

  color: var(--text-on-dark-high);
}
.subtitle--vertical {
  position: absolute;
  width: 85vh;
  height: 0px;
  bottom: 48px;
  left: calc(60% + 68px);
  transform-origin: 0 0;
  transform: rotate(270deg);
}

/** Modifiers */
.subtitle--center {
  text-align: center;
}

/* subtitles levels */
.subtitle--lvl2 {
  font-size: 64px;
  line-height: 80px;
  letter-spacing: 0.25px;

  color: var(--secondary);
}
.subtitle--lvl2B {
  font-size: 64px;
  line-height: 80px;
  letter-spacing: 0.25px;

  color: var(--text-on-dark);
}
.subtitle--lvl2-title-lineheight {
  line-height: 60px;
}
/* END subtitles levels */

/* Body text - paragraphs */
.body-text {
  font-family: var(--font);
  font-weight: var(--weight-normal);
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5%;
}
/* END Body text - paragraphs */
