.title-subtitle {
  display: grid;

  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr;
}

.title-subtitle__title {
  background-color: var(--primary);
  text-align: left;
  display: flex;
  align-items: flex-end;
}
.title-subtitle__subtitle {
  background-color: var(--light-background);
  position: relative;
}

.title-subtitle__subtitle > .subtitle {
  position: absolute;
  width: 600px;
  bottom: 0;
  left: 0;
  margin-left: 68px;
  margin-bottom: calc(-195px + 48px);
  transform: rotate(270deg);
  transform-origin: 0 0;
  border: 1px solid red;
}
